@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-todo{
  background-color: #8758ff;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper{
  background: #1A1A40;
  /* margin-top: 5rem; */
  padding: 2rem;
  border-radius: 5px;
  /* display: flex; */
  justify-content: center;
}

.heading-todo{
  color: #fff;
  font-size: 24px;
font-weight:600;
  text-align: center;
  margin-bottom:20px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  border-radius:unset;
}

.todo-input::placeholder {
  color: #efefef;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  height: 40px;
  border-radius: unset;

}

.todo-input:focus{
  background-color: unset;
}
.todo-input:hover{
  background-color: unset;
}

  .Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
}  


.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  color: white;
  font-size:16px;
  /* border:1px solid red; */
  border-radius:8px;
padding:8px;
background-color: #1A1A40;
}
.edit-icon {
  margin-right: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
.Todo{
  margin-top:20px;
}
.todo-input {

  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 250px;

}

}


